<!DOCTYPE html>
<html>
  <head>
    <title>Search Page</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
  </head>
  <body>
    <h1>LEETCODE QUESTION FINDER</h1>
    <div class="form">
      <form method="POST">
        {{ form.hidden_tag() }} 
        {{ form.search() }} 
        <input type="image" src="/static/search-icon.png" alt="Search" class="icon">
        {{ form.submit() }}
      </form>
    </div>
    <div class="result">
      <h2>Your Search Results Are</h2>
      {% for result in results %}
      <div class="section">
      <a href="{{ result['Question Link'] }}">{{ result['Question Link'] }}</a>
      <!-- <p>Score: {{ result['Score'] }}</p> -->
      </div>
      {% endfor %}
    </div>
  </body>
</html>